
.box2 {
  width: 4vh;
}
.box {
  min-height: 60vh;
  width: 5vh;
  display: inline-table;
  margin: auto;
  text-align: center;
}

.body {
	margin: auto;
}

.white {
	  background-color: #fff;
	  min-height:120px;
}

.dark_blue {
  background-color: #01A242;
}

.light_blue {
  background-color: #018A7A;
}

.green {
  background-color: #FFEC0D;
}

.blue1 {
  background-color: #0071B0;
}

.blue2 {
  background-color: #355BB8;
}

.purple1 {
  background-color: #714793;
}

.violet {
  background-color: #97486C;
}

.maroon {
  background-color: #B83853;
}

.red {
  background-color: #DD3636;
}

.orange {
  background-color: #F8512F;
}

.orange2 {
  background-color: #FE772A;
}


