
a {
   display: inline;
}

.box {
  min-height: 200px;
  width: 100px;
}

.white {
	  background-color: #fff;
	  min-height:150px;
}

.dark_blue {
  background-color: #99D139;
}

.light_blue {
  background-color: #14A84F;
}

.green {
  background-color: #FFEC0D;
}

